@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-bg-darkmode: #030712;
  --color-bg-lightmode: #efefef;
  --color-dock-darkmode: var(--color-primary);
  --color-dock-lightmode: var(--color-primary);
}

@layer base {
  body {
    @apply dark:bg-bg-darkmode bg-bg-lightmode min-h-screen;
  }

  h1 {
    @apply text-3xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-bold mb-3;
  }
}

@layer components {
  .customContainer {
    @apply m-auto max-w-3xl px-6;
  }

  div.card:last-of-type {
    @apply mb-40;
  }
}
